.ModalBackground {
    width: 100%;
    height: 85%;
    background-color: rgba(157, 120, 120, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    width: 850px;
    height: 600px;
    border-radius: 12px;
    background-color: rgba(188, 228, 232, 0.907);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .modalContainer .title {
    text-align: center;
    margin-top: 10px;
  }
  .cancelBtn {
    position: absolute;
    top: 85%;
    left: 53%;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
  }
  
  .submitBtn {
    position: absolute;
    top: 85%;
    left: 35%;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .errorMessage {
    position: absolute;
    top: 425px; /* Adjust the top position as needed */
    left: 50%; /* Adjust the left position as needed */
    transform: translateX(-50%);
    color: red;
  }
  